<% palos = ["clubs", "diamonds", "hearts", "spades"]%>
<% numeros = [2, 3, 4, 5, 6, 7, 8, 9, 10, "jack", "queen", "king", "ace"]%>

<% deck = []%>

<%
row_palos = 0
row_numeros = 0
card = 0
for row_palos in palos
  for row_numeros in numeros
    card = "#{row_numeros}_of_#{row_palos}"
    deck.push(card)
  end
end
%>


<!--<h1><%= "#{deck[0]}, #{deck[1]}"%></h1> -->

<%mezclar_deck = deck.shuffle%>

<!--<%= mezclar_deck%> -->

<%
carta_elegida = 0
contador = 0
%>

<%for carta_elegida in mezclar_deck%>
  <%= carta_elegida%>
  <%contador = contador + 1%>
  <% if contador == 5
      break
    end%>
<%end%>
